/*FONT*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Syne:wght@400;500;700&display=swap');
* {
  word-wrap: break-word;
    transition: 0.2s all
}

body {
  background: #222336;
  color: #fff;
  overflow-x: hidden;
  width: 100%;
  position: relative;
      font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.container-fluid {
  padding: 0 40px;
  max-width: 1400px
}

.container-fluid.centered {
  max-width: 1140px
}

img {
  max-width: 100%
}

button:focus,
button:active,
a:focus,
a:active,
button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}
/*BUTTON*/

.btn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
  border-radius: 100px;
  padding: 10px 20px;
  border: none;
}

.btn-purple {
  background: linear-gradient(302.49deg, #8538D7 -1.65%, #1FAAEE 113.42%);
  border-radius: 100px;
}

.btn-white {
  background: #FFFFFF;
  color: #090820;
}

.btn-link {
  color: #fff !important;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}

.btn-outline {
  border: 1px solid #FFFFFF !important;
  box-sizing: border-box;
  border-radius: 100px;
  color: #fff !important;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  padding: 10px 20px;
}


/*
  radio
*/

.radio {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

.radio label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #808080;
  display: block;
  padding: 0px 0 0px 30px;
  cursor: pointer;
}

.radio input {
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.radio input+label::before {
  border: 2px solid #808080;
  content: "";
  height: 15px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 15px;
  border-radius: 50%;
}

.radio input:checked+label::before {
  border: 3px solid #2fcbf4;
}

.radio input:checked+label {
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #fff;
}

.radio input+label::after {
  content: "";
  opacity: 0;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 9px;
  transition: opacity 0.2s ease-in-out;
  background: #2fcbf4;
  width: 5px;
  height: 5px;
}

.radio input:checked+label::after {
  opacity: 1;
}

.radio input:focus+label::before {
  box-shadow: 0 0 0 3px #ffbf47;
  outline: 3px solid transparent;
  /* For Windows high contrast mode. */
}



#sidebar {
    /* background: rgba(6, 7, 28, 0.26); */
    width: 235px;
    padding: 20px;
    min-height: 100vh;
    font-size: 14px;
    position: absolute;
    left: 0;
}

.profile-info {
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}
.ava-profile {
    width: 68px;
    height: 68px;
    margin: 10px auto;
    border-radius: 100px;
    overflow: hidden;
}
.user-wallet {
    text-align: center;
    background: #2E2F47;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 20px;
}

.user-wallet h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    text-align: center;
    color: #FFFFFF;
}

.user-wallet p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.5px;
    color: #888AB8;
    margin-bottom: 10px;
}
ul.sidebar-menu {
    padding: 0;
    list-style: none;
}

ul.sidebar-menu li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.5px;
    color: #999BC9;
    text-decoration: none;
    display: block;
    padding: 15px 0;
}
ul.sidebar-menu li a i {
    font-size: 15px;
    margin: 0 20px 0 10px;
}

.sidebar-menu li a.active ,.sidebar-menu li a:hover{
    color: #04C8F4;
    position: relative;
}

.sidebar-menu li a.active:before ,.sidebar-menu li a:hover:before{
    position: absolute;
    width: 12px;
    height: 12px;
    left: -24px;
    top: 16px;
    background: #04C8F4;
    box-shadow: 0px 0px 15px #04C8F4;
    content: '';
    display: block;
    border-radius: 100px;
}
.box-help {
    background: linear-gradient(180.26deg, #2F274D -36.4%, #2E2F47 99.77%);
    border-radius: 10px;
    padding: 15px;
    font-size: 12px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}
#wrapper {
    background: #1b1c2f;
}
#main {
    width: calc(100% - 235px);
    margin-left: 235px;
    padding: 20px 40px;
    background: #222336;
    min-height: 100vh;
}
#main nav{
  margin-bottom: 20px;
}
#main nav h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    color: #FFFFFF;
}

.dropdown.account .btn {
    padding: 0;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;

    text-align: right;
    color: #FFFFFF;
    align-items: baseline;
}
.account .dropdown-toggle::after {
    display: none;
}

.dropdown.account .btn i {
    font-size: 7px;
    color: #5B5A99;
}
.dropdown.account .ava-profile {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.dropdown.account p {
    margin-right: 10px;
}
.dropdown-menu-end {
   background: #2F2A4B;
box-shadow: 0px 48px 69px rgba(23, 18, 43, 0.845335);
border-radius: 10px;
    font-size:14px;
    color:#fff
}
.dropdown-menu-end a{
    color: #B1AFCD;
    font-size: 12px;
}
.dropdown-menu-end a:hover{
    color: #2ec8f4;
}
#main h6{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;


letter-spacing: 1px;
text-transform: uppercase;

color: #B1AFCD;
}
.est-assets h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;

    color: #FFFFFF;
    margin-top: 15px;
}
p.update-chart {
    color: #50E3C2;
    margin-bottom: 10px;
    font-size: 12px;
}

p.update-chart i {
    font-size: 10px;
    margin-right: 5px;
}
.total-statistic {
  margin-bottom:15px;
}
.card-grey .total-statistic:last-child {
  margin-bottom: 0
}
.total-statistic p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B1AFCD;
  margin-bottom: 10px;
}
.total-statistic h4{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.card.card-grey{
  background: linear-gradient(180.26deg, #2F274D -36.4%, #2E2F47 99.77%);
border-radius: 10px;
padding: 20px;
}

.icon-box {
    background: linear-gradient(302.49deg, #8538D7 -1.65%, #1FAAEE 113.42%);
    box-shadow: 0px 4px 7px rgb(94 100 224 / 28%);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 20px;
    line-height: 61px;
}
.icon-box i {
    font-size: 24px;
    text-shadow: 0 2px 2px #ffffff1a;
}
.total-statistic.fwc-remaining-token h4{
  color:#01CBF4;
}
.total-statistic.fwc-collateral h4{
  color:#50E3C2;
}
.fwc-remaining-token .icon-box{
  background: linear-gradient(213.66deg, #01CBF4 4.85%, #3C53D7 119.17%);
  box-shadow: 0px 4px 14px rgb(3 199 243 / 21%);
  border-radius: 10px;
}
.fwc-collateral .icon-box{
  background: linear-gradient(136.67deg, #00FFFF 8.34%, #32D777 95.26%);
  box-shadow: 0px 1px 9px #2dd18a87;
  border-radius: 10px;
}

ul.buyback-schedule li {
    background: #222336;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    margin-left: 20px;
}

ul.buyback-schedule {
    padding: 0;
    list-style: none;
    margin: 0;
    position: relative;
}
ul.buyback-schedule:before {
    content: '';
    position: absolute;
    left: 5px;
    height: 88%;
    width: 1px;
    background: #5b5a99;
    top: 21px;
}
ul.buyback-schedule li:last-child {
    margin-bottom: 0;
}
ul.buyback-schedule li:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #5B5A99;
    display: block;
    position: absolute;
    left: -20px;
    border-radius: 100px;
    /* box-shadow: 0 0 7px #fff; */
}
.card-index label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;

    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.card-index h4{font-family: 'Inter';font-style: normal;font-weight: 700;font-size: 18px;line-height: 120%;
/* or 26px */color: #FFFFFF;margin-bottom: 0;}

.card-index .icon-box {
}

.card-index {
    background: linear-gradient(180.26deg, #2F274D -36.4%, #2E2F47 99.77%);
    padding: 10px;
    border-radius: 10px;
    align-items: self-end;
    position: relative;
}
.card-index p.update-chart {
    margin-left: 20px;
}
.icon-box.ic-buy{
  background: linear-gradient(136.67deg, #00FFFF 8.34%, #32D777 95.26%);
  box-shadow: 0px 1px 5px #0ad5d978;
  border-radius: 10px;
}
.icon-box.ic-sell{background: linear-gradient(136.67deg, #FF2E2E 8.34%, #FE2B9D 95.26%);box-shadow: 0px 1px 9px #d52d3469;border-radius: 10px;}

.icon-box.ic-send{background: linear-gradient(302.49deg, #8538D7 -1.65%, #1FAAEE 113.42%);box-shadow: 0px 1px 7px rgb(94 100 224 / 24%);border-radius: 10px;}

.card-chart{
  background:#2E2F48;
  padding: 20px;
}
ul.select-time {
    display: flex;
    list-style: none;
    padding: 0;
}

ul.select-time li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
/* identical to box height, or 17px */
    color: #9FAFBE;
    text-decoration: none;
    padding: 5px 10px;
}
a.arrow-send {
    position: absolute;
    right: 0;
    text-decoration: none;
    color: #5B5A99;
    border-left: 1px solid #5b5a9969;
    padding: 20px;
}
ul.buyback-schedule li.soon {
    background: #04C8F4;
    color: #222336;
}

ul.buyback-schedule li.soon:before {
    background: #fff;
}

ul.buyback-schedule li.soon:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #ffffff69;
    display: block;
    position: absolute;
    left: -24px;
    border-radius: 100px;
    /* box-shadow: 0 0 7px #fff; */
    top: 6px;
}

.dropdown.notification .btn {
    background: linear-gradient(136.67deg, #FF409A 8.34%, #C438EF 95.26%);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 31px #BA1358;
    border-radius: 14px;
    font-size: 12px;
    padding: 6px 15px;
    margin: 5px 10px;
}

.dropdown.notification .btn:after {
    display: none;
}

.dropdown.notification .btn img {
    margin-right: 5px;
}
.notification .dropdown-menu {
    max-width: 413px;
    width: 413px;
    font-size: 12px;
}
.notification .dropdown-menu h6{
    padding: 10px 20px 10px;
}
.notification .dropdown-menu h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
}

.notification .dropdown-menu h5 span {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.183333px;
    color: #75749C;
    margin-left: 10px;
}

.list-notification {
    padding: 0 20px 20px;
    display: block;
    justify-content: flex-start;
    position: relative;
}

.list-notification p.blue,
.list-notification  a{
  font-weight: 700;
font-size: 12px;
line-height: 15px;



color: #01CBF4;
}

.list-notification small.date{
  font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #59588D;
}
.ava-notif {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    margin-right: 20px;
    background: linear-gradient(136.67deg, #00FFFF 8.34%, #32D777 95.26%);
}
.ava-notif.notif-news {
    background:  linear-gradient(302.49deg, #8538D7 -1.65%, #1FAAEE 113.42%);
}
.list-notification > a {
    position: absolute;
    right: 14px;
    top: 0;
}
.notification .see-all a{
  font-weight: 400;
font-size: 12px;
line-height: 15px;


text-align: center;
text-decoration: none;
color: #70B2FF;
}
.box-help:before {
    content: '';
    background: url(../img/help-bg.png) no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
.box-help span.icon {
    display: inline-block;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 9px;
    margin-bottom: 5px;
    color: #2E2F47;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}
a.canvasjs-chart-credit {
    display: none;
}
a.toggle-sidebar {
    position: absolute;
    right: -25px;
    padding: 10px 7px;
    background: #1b1c2f;
    color: #fff;
    text-decoration: none;
}
.logo-icon{
  display: none
}
#main.active{
  width: calc(100% - 50px);
  margin-left: 50px;
  padding: 20px;
}
#sidebar *{
  transition: 0.3s all;
}
/*#sidebar .toggle-sidebar i{

    transform: rotate(0deg);
}
#sidebar.active .toggle-sidebar i {
    transform: rotate(180deg);
}*/
#sidebar.active .content-sidebar .logo img{
  display: none
}
#sidebar.active .content-sidebar .logo .logo-icon{
  display: block;
}
#sidebar.active .content-sidebar .sidebar-menu li a span {
    display: none;
}

#sidebar.active .content-sidebar .ava-profile {width: 30px;height: 30px;}
#sidebar.active {
    width: 50px;
    padding: 20px 5px;
}

#sidebar.active .content-sidebar .profile-info p{display: none}
#sidebar.active .user-wallet {
    display: none;
}

#sidebar.active .box-help p,#sidebar.active .box-help .btn {
    display: none;
}

#sidebar.active .box-help {
    padding: 5px 0 0;
    text-align: center;
    line-height: 39px;
}

#sidebar.active .content-sidebar .sidebar-menu li a {
    text-align: center;
}

#sidebar.active .content-sidebar .sidebar-menu li a i {
    font-size: 16px;
}

@media(max-width:1000px){
    #main .col-md-9,#main .col-md-3{
        width:100%
    }
    .card,.card-index{
        margin-bottom:15px;
    }
    .card.card-chart .d-flex.justify-content-between {
    flex-wrap: wrap;
}
#main nav .flex-row-reverse{
  flex-direction: column !important
}

#main nav .flex-row-reverse h2{
  margin:20px 0 0;
  font-size: 16px;
}

#main nav .flex-row-reverse .d-flex{
  width: 100%;
  justify-content: space-between;
}
  #main {
    margin-left: 0;
    width: 100%;
}

#sidebar {
    z-index: 99;
    background: #1b1c2f;
}
.notification .dropdown-menu{
  width: 300px;
  max-width: 300px;
}
  .ava-notif,.ava-notif.notif-news {
    height: 40px;
    width: 40px;
    display: block !important;
    margin: 0;
    line-height: 42px;
    margin-bottom: 10px;
}
.est-assets h4 {
    font-size: 18px;
    margin-top: 10px;
}

.total-statistic {
    margin-bottom: 10px;
}

.card-index h4 {
    font-size: 16px;
}

.card, .card-index {
    margin-bottom: 10px;
}
}