@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?yapw3x');
  src:  url('../font/icomoon.eot?yapw3x#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?yapw3x') format('truetype'),
    url('../font/icomoon.woff?yapw3x') format('woff'),
    url('../font/icomoon.svg?yapw3x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-donate:before {
  content: "\e900";
}
.icon-ic-history:before {
  content: "\e901";
}
.icon-ic-supply:before {
  content: "\e902";
}
.icon-ic-wallet:before {
  content: "\e903";
}
.icon-ic-education:before {
  content: "\e904";
}
.icon-ic-marketplace:before {
  content: "\e905";
}
.icon-ic-help:before {
  content: "\e906";
}
.icon-ic-stack:before {
  content: "\e907";
}
.icon-ic-dashboard:before {
  content: "\e908";
}
.icon-ic-buy:before {
  content: "\e909";
}
.icon-ic-sell:before {
  content: "\e90a";
}
.icon-ic-send:before {
  content: "\e90b";
}
.icon-ic-logo:before {
  content: "\e90c";
}
.icon-ic-coins:before {
  content: "\e90d";
}
.icon-ic-money:before {
  content: "\e90e";
}
.icon-ic-arrow-right-Stroke:before {
  content: "\e90f";
}
.icon-ic-arrow-down-Stroke:before {
  content: "\e910";
}
.icon-ic-arrow-caret-down-Stroke:before {
  content: "\e911";
}
.icon-ic-arrow-caret-right-Stroke:before {
  content: "\e912";
}
.icon-ic-up-arrow:before {
  content: "\e913";
}
