/*FONT*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Syne:wght@400;500;700&display=swap');
* {
  word-wrap: break-word;
  transition: 0.5s all
}

body {
  background: #06071C;
  color: #fff;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.container-fluid {
  padding: 0 40px;
  max-width: 1400px
}

.container-fluid.centered {
  max-width: 1140px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Syne', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
}

h2 {
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  color: #FFFFFF;
}

h3 {
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  color: #FFFFFF;
}

h6 {
  font-family: 'Inter', sans-serif;
}

p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #D0D0D5;
}

.fwc-subtitle-blue {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #05C7F3;
}

img {
  max-width: 100%
}


/*BUTTON*/

.btn {
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
  border-radius: 100px;
  height: 48px;
  padding: 15px 40px;
  border: none;
}

.btn-purple {
  background: linear-gradient(302.49deg, #8538D7 -1.65%, #1FAAEE 113.42%);
  border-radius: 100px;
}

.btn-white {
  background: #FFFFFF;
  color: #090820;
}

.btn-link {
  color: #fff !important;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}

.btn-outline {
  border: 1px solid #FFFFFF !important;
  box-sizing: border-box;
  border-radius: 100px;
  color: #fff !important;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 30px;
}


/*
  radio
*/

.radio {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

.radio label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #808080;
  display: block;
  padding: 0px 0 0px 30px;
  cursor: pointer;
}

.radio input {
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.radio input+label::before {
  border: 2px solid #808080;
  content: "";
  height: 15px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 15px;
  border-radius: 50%;
}

.radio input:checked+label::before {
  border: 3px solid #2fcbf4;
}

.radio input:checked+label {
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #fff;
}

.radio input+label::after {
  content: "";
  opacity: 0;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 9px;
  transition: opacity 0.2s ease-in-out;
  background: #2fcbf4;
  width: 5px;
  height: 5px;
}

.radio input:checked+label::after {
  opacity: 1;
}

.radio input:focus+label::before {
  box-shadow: 0 0 0 3px #ffbf47;
  outline: 3px solid transparent;
  /* For Windows high contrast mode. */
}

.language form .form-group:last-child {
  margin-bottom: 0
}


/*HEADER*/

.fwc-navbar-front {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  transition: 1s all
}

.fwc-navbar-front .navbar-collapse {
  flex-grow: unset;
  margin-top: 7px;
}

.fixed .navbar-brand img {
  height: 50px;
}

.fwc-navbar-front .navbar-nav .nav-link {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 10px 25px;
}

.fwc-navbar-front .navbar-nav .nav-link.active,.fwc-navbar-front .navbar-nav .nav-item .btn span.active {
  position: relative;
}

.fwc-navbar-front .navbar-nav .nav-link.active:before,.fwc-navbar-front .navbar-nav .nav-item .btn span.active:before {
  content: '';
  width: 20%;
  height: 5px;
  background: #2dc6f3;
  display: block;
  position: absolute;
  bottom: 0;
  border-radius: 100px;
  box-shadow: 0 -1px 10px #2dc6f3;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.fwc-navbar-front .navbar-nav .nav-item .btn span.active:before {
  bottom:-10px;
  width: 30%;
}
.fwc-navbar-front .navbar-nav .nav-item .btn span {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 0;
}

.fwc-navbar-front .navbar-nav .nav-item .btn {
    padding: 10px 25px;
    height: auto;
}
.fwc-navbar-front .navbar-nav .nav-item .dropdown-menu a {
    padding: 15px;
    border-bottom: 1px solid #eeeeee17;
}

.fwc-navbar-front .navbar-nav .nav-item .dropdown-menu a:last-child {
    border-bottom: none;
}

.fwc-navbar-front .navbar-nav .nav-item .dropdown-menu a:hover {
    color: #2fcbf4;
}
.language .btn {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 10px 15px;
  border-left: 1px solid #ffffff5c;
  height: auto;
  border-radius: 0;
}

.navbar-nav .dropdown-menu {
  background: #1e1e34;
  padding: 10px;
}

.navbar-nav .dropdown-menu label {
  color: #fff;
  font-size: 14px;
}

.navbar-brand img {
  height: 55px;
}

.fwc-navbar-front.fixed {
  position: fixed;
  background: #1f1e39;
  padding: 0;
  z-index: 999
}

.fwc-navbar-front.fixed .btn-outline {
  height: 36px;
  padding: 8px 30px;
  margin-top: 6px;
}

.fwc-banner-home {
  padding: 150px 0 50px;
  background: url(../img/banner-home-top.png) no-repeat;
  background-position: 110% -80px;
  min-height: 500px;
  background-size: 70%;
  position: relative;
}

.fwc-banner-home:after {
  content: '';
  background: linear-gradient(172.03deg, rgba(6, 7, 28, 0) 6.14%, #06071C 46.11%);
  filter: blur(80px);
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.fwc-banner-home .container-fluid,
.fwc-banner-inside .container-fluid {
  position: relative;
  z-index: 9
}

.fwc-banner-inside {
  padding: 150px 0 50px;
  background: url(../img/banner-home-top.png) no-repeat;
  background-position: 110% -80px;
  min-height: 500px;
  background-size: 70%;
  position: relative;
}

.fwc-banner-inside:after {
  content: '';
  background: linear-gradient(185.31deg, rgba(6, 7, 28, 0) 17.76%, #06071C 51.59%);
  width: 100%;
  height: 220px;
  position: absolute;
  bottom: -18px;
  z-index: 1;
}

.fwc-banner-text {
  position: relative;
  z-index: 9;
  width: 85%;
}

.fwc-banner-text p {
  font-size: 16px;
  color: #fff;
}

.fwc-banner-inside p {
  font-size: 18px;
  color: #fff;
}

.fwc-total-coin {
  background: url(../img/box-border.png) no-repeat;
  background-size: 100%;
  min-height: 200px;
  padding: 20px;
  position: relative;
  margin-top: 270px;
  z-index: 9;
}

.fwc-total-coin:before {
  content: url('../img/coin-floating.svg');
  position: absolute;
  top: 0;
  left: -120px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

.fwc-total-coin h6,
.fwc-price-coin h6 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #03C9F4;
}

.fwc-price-coin h6 {
  color: #ab72ff
}

.fwc-total-coin h3,
.fwc-price-coin h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}

.fwc-total-coin p,
.fwc-price-coin p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
  color: #D0D0D5;
}

.remaining-coin h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  /* identical to box height */
  color: #05C7F3;
}

.presales-tag {
  padding: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #0F0F23;
  background: #01CBF4;
  border-radius: 10px;
}

.fwc-price-coin {
  background: url(../img/box-border-purple.png) no-repeat;
  background-size: 100%;
  min-height: 200px;
  padding: 20px;
  margin-top: 270px;
  z-index: 9;
  position: relative;
}

.fwc-price-coin p,
.fwc-total-coin p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */
  color: #D0D0D5;
}

.fwc-future-is .col-md-6 {
  position: relative;
}

.fwc-future-is .floating {
  position: absolute;
  right: 0;
  left: -12%;
  margin: 0 auto;
  top: 0;
  z-index: 8;
  width: 30%;
}
.fwc-future-is h3 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}
.fwc-we-offer {
  position: relative;
}

.fwc-we-offer:before {
  background: rgba(126, 64, 217, 0.2);
  filter: blur(300px);
  position: absolute;
  content: '';
  width: 100%;
  height: 400px;
}

.fwc-we-offer h3 {
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
  max-width: 900px;
  margin: 0 auto;
}

.fwc-box-gradient {
  position: relative;
  background: radial-gradient(100% 100% at 49.87% 0%, #473180 0%, #171330 62.86%);
  border-radius: 10px;
  min-height: 350px;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 10px
}
.fwc-box-gradient p{
  font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
/* identical to box height, or 128% */

text-align: center;

color: #FFFFFF;
}

.fwc-box-gradient p + p{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

text-align: center;

color: #D0D0D5;
}
.fwc-box-gradient img {
  position: relative;
  margin-top: -70px;
  margin-bottom: 20px
}



.fwc-blockchain {
  margin-top: 120px;
}

.fwc-projection {
  border: 2px solid #4870B0;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  margin: 40px 0;
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.fwc-projection span {
  padding: 0 10px;
}

.fwc-projection img {
  height: 40px
}

.fwc-line {
  position: relative;
  padding: 0 !important;
}

.fwc-line:before {
  content: url(../img/fwc-line.png);
  position: absolute;
  bottom: -14px;
}

.fwc-chart-milestone,
.fwc-profit,
.fwc-stability {
  margin: 50px 0;
}

.fwc-chart-milestone {
  margin-top: 100px;
}

.fwc-profit h3 span {
  font-family: Syne;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 26px;
  display: block;
  color: #05C7F3;
}

.fwc-how-to {
  margin-top: 100px;
}

.fwc-how-to.step-exchange {
  margin-top: 50px;
}

.fwc-how-to h3 {
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  max-width: 700px;
  margin: 10px auto;
}

.number {
  background: #292e4a;
  color: #fff;
  height: 40px;
  display: inline-block;
  width: 40px;
  text-align: center;
  border-radius: 100px;
  position: absolute;
  left: 0;
  line-height: 40px;
}

.fwc-how-to ul {
  list-style: none;
  padding: 0;
}

.fwc-how-to ul li {
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 30px;
  padding-left: 50px;
}

.fwc-how-to ul li img {
  display: block;
}

.fwc-how-to ul li a {
  color: #fff;
  font-weight: bold;
}

.wallet-code {
  background: #292e4a;
  border-radius: 20px;
  display: block;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.bg-blur-blue {
  position: relative;
}

.bg-blur-blue:before {
  position: absolute;
  content: '';
  background: #1D4652;
  filter: blur(100px);
  width: 300px;
  height: 300px;
  z-index: 1;
}

.bg-blur-blue img {
  position: relative;
  z-index: 2;
  margin-top: -50px;
  left: -30px
}

.fwc-banner-inside.milestone-bg {
  padding: 150px 0 50px;
  background: url(../img/banner-milestone.png) no-repeat;
  background-position: 110% -50px;
  min-height: auto;
  /* background-size: 70%; */
  position: relative;
}

.fwc-banner-inside.roadmap-bg {
  padding: 150px 0 50px;
  background: url(../img/banner-roadmap.png) no-repeat;
  background-position: 110% -0px;
  min-height: 400px;
  background-size: 61%;
  position: relative;
}
.fwc-banner-inside.roadmap-bg:after {
    height: 150px;
}

.roadmap-timeline {
    position: relative;
    z-index: 9;
}
.fwc-timeline-milestone {
  position: relative;
  z-index: 10;
  margin: 30px 0 120px;
}

.milestone-menu {
  margin: 0;
  padding: 0;
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;
  position: relative;
  list-style: none;
  padding: 0;
  transition: 0.5s all
}

.milestone-menu:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 80%;
  display: block;
  background: #fff;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: -10px;
}

.milestone-menu li {
  float: left;
  width: 20%;
  text-align: center
}

.milestone-menu a {
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  /* or 142% */
  text-align: center;
  color: #2dc7f3;
  text-decoration: none;
  display: block;
  padding-top: 20px;
  position: relative;
}

.milestone-menu a span {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  color: #fff;
  display: block;
  border: 2px solid #fff;
  line-height: 36px;
  position: absolute;
  top: -28px;
  right: 0;
  left: 0;
  margin: 0 auto;
  background: #06071c;
}

.milestone-menu a.active,.milestone-menu a:hover {
  color: #fff;
}

.milestone-menu a.active span,.milestone-menu a:hover span {
  background: #05C7F3 !important;
  border: 2px solid #05C7F3;
  box-sizing: border-box;
  box-shadow: 0px 4px 14px 5px rgb(106 207 225 / 51%);
}

.milestone-menu.fixed {
  position: fixed;
  top: 60px;
  background: #1f1e39;
  z-index: 999;
  padding-top: 30px;
}

.milestone-menu.fixed a {
  font-size: 11px;
  line-height: normal;
  padding-top: 14px;
}

.milestone-menu.fixed a span {
  background: #1f1e39;
  width: 30px;
  height: 30px;
  line-height: 25px;
  top: -21px;
}

.milestone-menu.fixed:before {
  top: 23px;
}

.fwc-milestone-box {
  margin-top: 0px;
  position: relative;
  z-index: 2
}

.fwc-milestone-box h6 {
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  color: #05C7F3;
}

.fwc-milestone-box img {
  position: relative;
  margin-top: -90px;
}


/*LOGIN*/

.login {
  margin-top: 120px;
}

.login form,
.login.register .col-md-10 {
  background: linear-gradient(180deg, #2F274D 0%, #222336 100%);
  border-radius: 20px;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.login.register .col-md-10:before {
  content: url(../img/register-bg.png);
  position: absolute;
  bottom: -5px;
  left: 0;
}

.login h4 {
  margin-bottom: 20px
}

.login .btn {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.login .btn-white {
  display: block;
  color: #06071C;
}

.login .btn-white img {
  margin-right: 10px;
  position: relative;
  top: -4px;
}

.login .form-group {
  margin: 20px 0
}

.login .form-control {
  background: #303146;
  border-radius: 100px;
  border: none;
  min-height: 42px;
  margin-top: 10px;
  color: #fff
}

.form-control.email {
  background: url(../img/ic-email.png) #303146;
  background-repeat: no-repeat;
  background-position: 18px 9px;
  padding-left: 55px;
}

.form-control.password {
  background: url(../img/ic-password.png) #303146;
  background-repeat: no-repeat;
  background-position: 18px 7px;
  padding-left: 55px;
}

.login span {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: block;
  text-align: center;
  margin: 20px;
}

.login label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.login label+a {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 142% */
  color: #05C7F3;
  text-decoration: none;
}

.login.register .btn-white {
  margin-top: 70px;
}

.login.register .col-md-6 {
  border-right: 1px solid #4A4B66;
}

.login.register .col-md-6:last-child {
  border: none;
}

.login.register form {
  padding: 0 30px;
  background: none;
}


/*ROADMAP*/

.steps {
  position: relative;
  margin-top: 32px;
}

.steps::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: white;
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 88%;
  z-index: 1;
}

.steps .content ul li {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #D0D0D5;
}

.steps .content h2 {
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 57px;
  /* identical to box height, or 159% */
  color: #FFFFFF;
}

.steps-container {
  position: relative;
  background-color: inherit;
  width: calc(50% + 32px);
}

.steps-container .content {
  padding: 30px;
  position: relative;
  background: url(../img/box-border.png) #0F0F23 no-repeat;
  background-size: 100%;
  width: 80%;
  margin-right: 8%;
  border-radius: 5px;
}

.steps .steps-container:nth-child(even) {
  left: calc(50% - 32px);
  flex-direction: row-reverse;
  justify-content: start;
}

.steps-container {
  display: flex;
  justify-content: end;
  margin-bottom: 60px;
}

.steps .steps-container .date {
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  color: #05C7F3;
  margin-bottom: 10px;
  width: 62px;
  height: 62px;
  background-color: var(--primary);
  border-radius: 50%;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 777;
  position: relative;
  right: -140px;
}

.steps .steps-container:nth-child(even) .date {
  left: -140px;
  right: auto;
}

.step-line {
  width: 40px;
  background-color: #fff;
  height: 1px;
  margin-top: 31px;
  opacity: 0.4;
  flex-shrink: 0;
}

.steps .steps-container:nth-child(even) .content {
  margin-right: 0;
  margin-left: 8%;
}

.quartal {
  position: absolute;
  z-index: 9;
}

.quartal span {
  background: linear-gradient(181.17deg, #8DEBFF -55.43%, #21A8ED 26.84%, #724EDC 94.84%);
  width: 70px;
  height: 70px;
  border-radius: 100px;
  z-index: 9;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 72px;
  /* identical to box height, or 71% */
  text-align: center;
  color: #FFFFFF;
  display: block;
  position: relative;
  z-index: 2;
}

.quartal:after {
  background: #06071C;
  border: 2px solid #05C7F3;
  box-sizing: border-box;
  box-shadow: 0px -1px 24px 9px rgba(106, 207, 225, 0.51);
  content: '';
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 100px;
  position: absolute;
  top: -8px;
  z-index: 1;
  left: -8px;
}
.steps-container.achieve .content {
    background: url(../img/box-border-green.png) #0F0F23 no-repeat;
}

/*FOOTER*/

footer {
  background: radial-gradient(100% 100% at 49.87% 0%, #473180 0%, #171330 62.86%);
  padding: 50px 0 30px;
  margin-top: 100px;
}

.social-media {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.social-media li a {
  margin: 0px;
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.social-media span {
  display: inline-block;
  margin-top: 10px;
  width: 100%
}

.copyright {
  margin-top: 50px;
}

.copyright p {
  margin-bottom: 0;
}

.copyright p,
.copyright a {
  font-size: 14px;
  color: #fff;
  text-decoration: none
}

.copyright .col-md-4:last-child {
  text-align: right;
}

.copyright .col-md-4:last-child a {
  margin-left: 10px;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

button.navbar-toggler:focus,
button.navbar-toggler:active,
a:focus,
a:active,
button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler {
  padding: 0
}

#nav-icon1 {
  width: 44px;
  height: 41px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  top: 3px;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 76%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 11px;
}

#nav-icon1 span:nth-child(3) {
  top: 23px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.about-bg h2 {
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
}

.fwc-banner-inside.about-bg {
  background: url(../img/banner-about.jpg) no-repeat;
  background-size: 100%;
}

.fwc-banner-inside.about-bg:after {
  display: none;
}

.fwc-box-gradient p+p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  text-align: center;
  color: #D0D0D5;
  padding: 20px;
}

.about-offer .fwc-box-gradient {
  min-height: 350px;
}

.fwc-leadership-desc {
  padding: 0 30px;
}

.fwc-leadership-desc h5 {
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #FFFFFF;
}

.fwc-banner-inside.faq-bg {
  padding: 150px 0 50px;
  background: url(../img/banner-faq.png) no-repeat;
  background-position: 110% -50px;
  min-height: auto;
  /* background-size: 70%; */
  position: relative;
}

.fwc-banner-inside.how-to-bg {
  padding: 150px 0 50px;
  background: url(../img/banner-how-to-buy.png) no-repeat;
  background-position: 100% 0px;
  min-height: 400px;
  background-size: 50%;
  position: relative;
}

.fwc-banner-inside.faq-bg:after,
.fwc-banner-inside.how-to-bg:after {
  display: none
}

.fwc-faq-question .accordion-button {
  background: none !important;
  padding: 10px;
  height: auto;
  min-height: auto;
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  /* identical to box height */
  color: #FFFFFF;
}

.fwc-faq-question .accordion-item {
  background: none !important;
  color: #fff;
  border-bottom: 1px solid #2dc7f3;
  padding: 20px 0;
}

.fwc-faq-question .accordion-item p,
.fwc-faq-question .accordion-item {
  color: #fff;
}

.fwc-faq-question .accordion-button:not(.collapsed) {
  color: #2dc7f3;
}
.accordion-button:after{
  background:url(../img/ic-arrow-down.png) no-repeat;
  transform: none;
}
.accordion-button:not(.collapsed)::after{
  background:url(../img/ic-arrow-up.png) no-repeat;
  transform: none;
}
.fwc-metamask {
  padding: 50px 0;
  background: linear-gradient(180deg, #06071C 0%, #232437 12.86%);
}

.step-01-metamask .arrow-blue {
  height: 15px;
}

.step-01-metamask {
  align-items: center;
  margin: 40px 0;
}

.step-01-metamask img {
  margin: 0 5px;
}

.step-exhange h3,
.fwc-metamask h3 {
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
}

.fwc-metamask .wallet-code {
  background: #06071C;
  max-width: 80%;
  margin: 0 auto;
  display: inline-block;
  padding: 10px 20px;
}

.fwc-prices {
  border: 2px solid #4870B0;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.how-to-involved {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin: 30px 0;
}

.how-to-involved li {
  width: 50%;
  position: relative;
  padding-left: 70px;
  margin-bottom: 20px
}

.how-to-involved li .wallet-code {
  font-size: 16px;
  margin: 10px 0;
  max-width: 100%;
}

.how-to-involved .number {
  background: #06071c;
}

.step-01-metamask div .number {
  display: none
}

.fwc-how-to.step-exchange .wallet-code {
  display: inline-block;
}

.fwc-terms ul {
  list-style: none;
  padding: 0;
}

.fwc-terms ul li {
  position: relative;
  border-bottom: 1px solid #2bbfe8;
  padding: 20px 10px 20px 60px;
}

.fwc-terms {
  margin: 70px 0 30px;
}

.fwc-terms .number {
  font-family: 'Syne' !important;
  font-weight: bold;
}

.fwc-terms li a {
  color: #fff;
  font-weight: bold;
}

.fwc-terms img {
  height: 280px;
  margin: 0 auto;
}
ul.list-features {
    padding: 0;
    list-style: none;
    margin: 50px 0;
}

ul.list-features h4 {
    margin: 30px 0;
}

ul.list-features li {
    text-align: center;
    border-right: 1px solid #eeeeee29;
    width: 25%;
}
ul.list-features img {
    height: 140px;
}
ul.milestone-vertical {
    list-style: none;
    padding: 0;
    position: relative;
    padding-left: 70px;
}

ul.milestone-vertical li {
    padding: 24px 0;
}

ul.milestone-vertical li .number {
    background: #06071c;
    border: 1px solid #fff;
    z-index: 9;
}

ul.milestone-vertical:before {
    content: '';
    height: 82%;
    width: 1px;
    background: #fff;
    display: block;
    position: absolute;
    left: 20px;
    top: 29px;
    z-index: 1;
}
.fwc-features {
    margin: 100px 0 !important;
}
.fwc-how-to p.fwc-prices {
    display: inline-block;
    padding: 20px;
    margin-bottom: 20px;
}

.achieve .quartal::after {
    border-color: #32D777;
    box-shadow: 0px -1px 24px 9px #32D777;
}

.achieve .quartal span {
    background: linear-gradient(181.17deg, #32D777 -55.43%, #32D777 26.84%, #32B9D7 94.84%);
    position: relative;
    font-size:0;
}

.achieve .quartal span:before {content: '';background:url(../img/achieve-icon.png) no-repeat;display: block;width: 100%;height: 100%;background-position: center;}

.steps .steps-container.achieve .date {
    color: #34d777;
}
.steps .content ul li.achieve-list {
    color: #34d777;
}
@media (max-width: 767px) {
  .fwc-navbar-front .navbar-nav .nav-link.active:before,.fwc-navbar-front .navbar-nav .nav-item .btn span.active:before {
    left: 0;
    right: auto;
    height: 100%;
    width: 5px;
  }
  .fwc-navbar-front .navbar-nav .nav-item .btn span.active:before {
    left:-25px;
    top: -9px;
    height: 34px;
  }
  .about-bg h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .fwc-leadership img {
    width: 50%;
    height: 200px;
  }
  .fwc-timeline-milestone {
    margin-bottom: 0;
    margin-top: 0;
  }
  .steps::after {
    left: 32px;
    height: 82%;
  }
  .steps-container {
    left: 0;
    flex-direction: row-reverse;
    width: auto;
    margin-bottom: 16px;
  }
  .steps .steps-container:nth-child(even) {
    left: 0;
  }
  .steps-container .content {
    margin-left: 90px !important;
    padding-top: 40px;
    margin-right: 0;
  }
  .steps .content h2 {
    font-size: 23px;
    line-height: normal;
    margin-top: 20px;
  }
  .steps .content ul li {
    font-size: 14px;
  }
  .quartal span {
    font-size: 22px;
    width: 50px;
    height: 50px;
    line-height: 48px;
  }
  .quartal:after {
    width: 65px;
    height: 65px;
  }
  .quartal {
    left: 6px;
  }
  .steps .steps-container .date {
    left: 130px !important;
    position: absolute;
    left: 0;
    font-size: 28px;
  }
  .login.register .col-md-6 {
    border: none;
  }
  .login.register .col-md-10:before {
    opacity: 0.2;
  }
  .login h4 {
    text-align: center;
  }
  .login.register .btn-white {
    margin: 20px auto 10px;
    width: 90%;
  }
  .fwc-banner-inside.milestone-bg {
    background-position: 0 0px;
    background-size: 100%;
    padding-bottom: 0;
    min-height: auto;
  }
  .fwc-banner-text h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .fwc-banner-text p {
    margin-top: 10px !important;
  }
  .fwc-banner-home {
    padding-top: 120px;
    background-position: 140% 200px;
    background-size: 400px;
  }
  .fwc-total-coin,
  .fwc-price-coin {
    margin-top: 30px;
  }
  .fwc-total-coin:before {
    left: auto;
    right: 0;
  }
  .fwc-total-coin p {
    width: 79%;
  }
  h3,
  .fwc-how-to h3,
  .fwc-we-offer h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .fwc-chart-milestone .btn {
    margin-bottom: 30px;
  }
  .fwc-navbar-front .navbar-collapse {
    background: #06071c;
    width: 100%;
    position: fixed;
    top: 74px;
    left: 0;
    padding-bottom: 20px;
  }
  .fwc-navbar-front.fixed .navbar-collapse {
    top: 60px;
    background: #1f1e39
  }
  .language .btn {
    border: none;
    padding: 10px 25px
  }
  .bg-blur-blue img {
    left: 0;
    width: 80%;
    margin-bottom: 30px
  }
  .container-fluid {
    padding: 0 20px;
  }
  .btn {
    padding: 15px 20px;
  }
  .copyright {
    text-align: center;
    margin-top: 10px;
  }
  .fwc-blockchain img {
    margin-bottom: 30px
  }
  .fwc-projection img {
    margin: 0
  }
  .fwc-projection {
    font-size: 16px;
  }
  .fwc-line:before {
    display: none;
  }
  .fwc-how-to ul li,
  p {
    font-size: 14px
  }
  .fwc-how-to .btn {
    display: block;
    width: 200px;
    margin: 20px auto;
  }
  .social-media span,
  .copyright p,
  .copyright a {
    font-size: 13px;
  }
  .fwc-banner-home:after {
    background: linear-gradient(185.31deg, rgba(6, 7, 28, 0) 17.76%, #06071C 51.59%);
    bottom: auto;
    top: 350px;
    height: 200px;
    filter: none;
  }
  .navbar-brand img,
  .fixed .navbar-brand img {
    height: 40px;
    position: relative;
    top: 3px;
  }
  .navbar-brand {
    position: absolute;
    left: 71px;
    top: 10px;
  }
  .fixed .navbar-brand {
    top: 3px;
  }
  .fwc-navbar-front .btn-outline {
    display: none;
  }
  .fwc-navbar-front .btn-link {
    border: 1px solid #fff;
    padding: 10px 15px;
    height: auto;
    font-size: 13px;
  }
  .fwc-navbar-front.fixed {
    height: 64px;
  }
  .fwc-navbar-front {
    padding: 20px 0 10px;
  }
  section {
    /* overflow-x:hidden; */
  }
  section.fwc-banner-inside.roadmap-bg {
    background-position: right 100%;
    padding-top: 100px;
    background-size: 75%;
    padding-bottom: 150px;
  }
  .fwc-banner-inside:after {
    height: 100px;
    bottom: -11px;
  }
  footer {
    margin-top: 30px;
  }
  .fwc-banner-text {
    width: 100%
  }
  .login.register .d-flex .btn-outline {
    margin: 0 20px !important;
  }
  .login.register .d-flex.justify-content-end .col-md-6 .justify-content-between {
    justify-content: center !important;
  }
  .fwc-milestone-box img {
    margin-top: 0;
  }
  .fwc-milestone-box h6 {
    font-size: 16px;
    line-height: 20px;
  }
  .milestone-menu a,
  .milestone-menu.fixed a {
    font-size: 0;
  }
  .milestone-menu a span {
    font-size: 14px;
    top: -20px;
  }
  .milestone-menu {
    top: 0;
    margin-top: 40px;
  }
  .milestone-menu.fixed {
    margin-top: 0;
    padding-top: 50p;
  }
  .login.register .col-md-10 {
    padding: 30px 10px
  }
  .navbar-nav .dropdown-menu {
    padding: 0 25px;
    background: none;
  }
  .fwc-leadership-desc {
    padding: 0 15px;
  }
  .fwc-leadership-desc p {
    font-size: 13px;
    line-height: 18px;
  }
  .social-media img {
    width: 35px
  }
  .fwc-faq-question .accordion-button {
    font-size: 16px;
    line-height: 22px
  }
  .fwc-banner-inside.faq-bg {
    background-size: 75%;
    background-position: 160% 30px;
  }
  .step-01-metamask {
    flex-wrap: wrap;
    justify-content: start !important;
  }
  .step-01-metamask .arrow-blue {
    display: none;
  }
  .step-01-metamask div {
    position: relative;
    margin: 20px 0;
    width: 50%;
    text-align: center;
  }
  .step-01-metamask div .number {
    position: absolute;
    left: 17px;
    top: -16px;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 27px;
    background: #2dc6f3;
    display: block;
  }
  .fwc-metamask .wallet-code {
    font-size: 16px;
  }
  .how-to-involved li {
    width: 100%;
  }
  .fwc-banner-inside.how-to-bg {
    min-height: auto;
    padding-bottom: 0;
    background-position: 110% 40px;
    background-size: 60%;
  }
  .fwc-how-to.step-exchange .wallet-code{
    font-size: 16px !important;
  }
  .fwc-how-to.step-exhange h3, .fwc-metamask h3{
    font-size: 24px !important;
  }
  ul.list-features li {
    width: 50%;
    margin-bottom: 30px;
}

ul.list-features {
    flex-wrap: wrap;
}

ul.list-features li:nth-child(2),ul.list-features li:nth-child(4) {
    border: none;
}

.lang-google {padding: 0px 20px;}

}

@media(max-width: 600px) {
  h6 {
    font-size: 14px;
  }
  .fwc-banner-home:after {
    background: linear-gradient(185.31deg, rgba(6, 7, 28, 0) 17.76%, #06071C 51.59%);
    bottom: auto;
    top: 350px;
    height: 200px;
    filter: none;
  }
  .fwc-banner-home {
    padding-top: 120px;
    background-position: 130% 270px;
    background-size: 300px;
    padding-bottom: 0;
  }
}

.lang-google {padding: 0px 20px;}